<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  
  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
            id="url_input"
            type="text"
            name="url"
            placeholder="https://www.freecodecamp.org/"
            />
            <input id="submit" type="submit" value="POST URL" />
            <br>
            <label for="ShortUrl_input">SHORT URL:</label>
            <input
            id="shortUrl_input"
            type="text"
            name="url"
            placeholder="a1s23"
            />
            <input id="shortUrlSubmit" type="submit" value="GoTo URL" />
          </fieldset>
        </form>
      </section>
      <table id="shortUrlTable">
        <thead>
          <th>url</th>
          <th>short-url</th>
          <th>num of redirect</th>
          <th>creation date</th>
        </thead>
      </table>
    </main>
    <footer>
      <p>By <a href="https://github.com/omerokach" style="text-decoration: none;">omer rokach</a></p>
    </footer>
    <script src="../public/main.js"></script>
  </body>
  </html>
  